@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url(https://fonts.googleapis.com/css?family=Rubik+Moonrocks:regular);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:regular,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);



*,
::after,
::before{
    box-sizing: border-box;
}



:root{
   font-size: 62.5%;
}

body{
    margin:0;
    background-color:whitesmoke;
}

.home-page{
    background-color: RGB(101,0,11);
    background-image: linear-gradient(147deg, #010000 0%, #59090c 74%);

    padding:3rem 1rem;
    /* border:1px solid red; */
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    color:white;

}

.quote{
    font-size: 5rem;
    font-family: Monoton;
}

.logo-cont{
    text-align: center;
}

.appname{
    font-size: 4rem;
    font-family:Rubik Moonrocks , sans-serif;
    color:black;
    font-weight:bold;
    margin:2rem 0;
    

}

.animated_ch {
    transition: top 0.5s ease-in-out, color 0.4s ease;
    position: relative;
}

.animated_ch:hover {
    top: 1rem;
    color: white;
}


.custom-btn{
    background-color:#fffafa;
    border:1px solid transparent;
    outline:none;

    color:rgb(101, 1, 1);
    font-family:Oswald;
    font-weight:bold;
    font-size: 2rem;
    letter-spacing: 2px;

    border-radius: 3rem;
    padding:1rem 2rem;

    transition: all 0.5s ease-in-out;
    transform:scale(1);
    margin-bottom: 2rem;
    
}

.custom-btn:hover{
    transform: scale(1.5);
    background-color: RGB(101,0,11);
    color:white;
    border:1px solid rgb(101, 2, 2);
}

